# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


ENV/


# IDE - PyCharm, VSCode
.idea/
.vscode/

# OS-specific files
.DS_Store  # Mac OS
*.swp      # Vim swap files
*.swo      # Vim swap files
*.log

# Other
*.bak      # backup files
*.egg-info # egg distribution
dist/      # distribution
build/     # build artifacts